body
{
    margin: 0;
}

code
{
    background-color: white;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#footer
{
    text-align: center;
    color: #AAAAAA;
    margin: 15px 0 15px 0;
}

.content-sized
{
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

#all-content-wrapper
{
    position: relative;
    background-color: #EEEEEE;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.after-float
{
    clear: both;
}

.blog-header
{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
    text-transform: uppercase;
}

.blog-title
{
    font-size: 2em;
    float: left;
}

.blog-date
{
    float: right;
}

h3
{
    margin-top: 15px;
    margin-bottom: -15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

#content a
{
    color: #A3263B;
}

.two-column
{
    width: 46%;
    display: inline-block;
}

.two-column.left
{
    float: left;
}

.two-column.right
{
    float: right;
}
