<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}

    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

    <link rel="stylesheet" href="{% static "css/general.css" %}">
    <link rel="stylesheet" href="{% static "css/header.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    {% block css %}
    {% endblock %}
</head>

<body>
    <div id="header">
        <div id="banner-wrapper">
            <div id="banner" class="content-sized">
                <a href="{% url 'index' %}">
                    <div id="title-area">
                        <div id="title">Clayton Salinger Ketner</div>
                        <div id="subtitle">
                            Mechanical Engineering &amp; Computer Science<br>
                            Automation Specialist at Counsyl
                        </div>
                    </div>
                </a>
                <div id="mugshot-wrapper">
                    <div id="mugshot">
                        <img src="{% static "images/mugshot.jpg" %}" height="100px">
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div id="navBar-wrapper">
            <nav id="navBar" class="content-sized">
                <div id="textNav">
                    {% for single_blog in blogs %}
                        <div class="navItem
                                    {% if forloop.last %}
                                        lastNavItem
                                    {% endif %}">
                            <a class="
                                {% if single_blog == current_blog %}
                                    currentPage
                                {% endif %}"
                               href="{% url 'blog' single_blog.slug %}">{{ single_blog.name }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div id="iconNav">
                    <div class="navItem"><a href="https://github.com/claytonketner/general-resume/blob/master/resume.pdf?raw=true" target="_blank">
                        <img src="{% static "images/icons/resume_icon.png" %}" alt="resume"></a>
                    </div>
                    <div class="navItem"><a href="mailto:claytonketner@me.com"><img src="{% static "images/icons/mail_icon.png" %}" alt="email"></a></div>
                    <div class="navItem"><a href="http://www.github.com/claytonketner" target="_blank"><img src="{% static "images/icons/github_icon.png" %}" alt="github"></a></div>
                </div>
                <div style="clear: both;"></div>
            </nav>
        </div>
    </div>

    <div id="all-content-wrapper">
        <div id="content-wrapper" class="content-sized">
            <div id="content" class="sidebar-or-content">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="after-float"></div>
        </div>
    </div>

    <div id="footer">
        &copy; Clayton Salinger Ketner 2015
    </div>
</body>
</html>
