{% extends 'portfolio/base.html' %}
{% load markdown_deux_tags %}
{% load adminfiles_tags %}
{% load adminfiles_fix_tags %}

{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "blog/css/expanding_image.css" %}">
<link rel="stylesheet" href="{% static "blog/css/general.css" %}">
{% endblock css %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static "blog/js/expanding_image.js" %}"></script>
{% endblock js %}

{% block content %}
    {% for blog_entry in blog_entries %}
        <div class="blog-header">
            <div class="blog-title">
                {{ blog_entry.title }}
            </div>
            <div class="blog-date">
                {{ blog_entry.when_created }}
            </div>
            <div class="after-float"></div>
        </div>
        <div class="blog-entry-content">
            {{ blog_entry.body|render_uploads:"my_adminfiles"|fix_upload_paths|markdown:"trusted"|safe }}</div>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock content %}
