# Various crap files
*.py[ocd]
.DS_Store
*.swp

# Envs
.virtualenv

# Static/web files
cache/
cgi-bin/
static/
site_media/uploads/

# Secret files
portfolio/settings/secret.py
portfolio/settings/key.py

# SQLite database
db.*
db_backups/
